div#TracksPage{
    height: 100%;
    width:100%;
  
}

div.trackAreaHeader{
    width:100%;
    height:5%;
    margin-bottom:20px;
}


div.trackAreaHeader>h1{
    border-bottom:  1px solid black;
    font-size: 2em;
    margin:0px;
}


div#TrackViewContent{
    
    display:flex; 
    flex-wrap: wrap;
    overflow: hidden;    
    width:100%;
    height:100%;
}

.trackTimeLineBar{
    position:absolute;
    top:0px;
    width:100%;
    height:5px;
    background-color: black;
    z-index:2;
}
.trackCurrentTime{
    background-color: red;
    transition: all 0.1s;
    width: 0px;
    height: 5px;
}

canvas#trackVisualiser{
    z-index: 1;
    border-radius: 10px;
    position:absolute;
    left:0px;
    bottom:0px;
    width:100%;
    height:800px;
     background-color: black; 
}




div#TrackVisContainer{
    z-index: 1;
    background-color: black;
    border-radius: 10px;
    position:relative;
    overflow: hidden;
    width:90%;
    height: 80%;
        
}
div#TrackList{
    overflow: hidden;
    gap:15px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: center;    
    width:10%;
    height:80%;
}
#createTrackBtn{
    
    border-radius: 10px;
    border:2px solid grey;
    width:40px;
    
    height:40px;
}


.trackLabel{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;

    position:relative;
    padding:20px;
    width:150px;
    border-radius: 10px;    
    height:100px;
    background-color: #202C59;
    
}
.trackLabel p{
    width:100%;
}

.labelIcon{   
    background-size: cover;
    width:30px;   
    height:30px;
}
.muteBtn{
    background-image: url("../images/speaker-filled-audio-tool.png");
}
.muted{
    background-image: url("../images/mute.png");
}
.deleteBtn{
    background-image: url("../images/trash-can.png");    
}
.clearBtn{
    background-image: url(../images/clear-format.png);
}


#visualiserKeyboard{
    position: absolute;
    bottom: 0px;
    background-color: magenta;
    width:100%;
    height:50px;
    z-index: 3;
}
#visualiserKeyboard .visualiserKeyWhite{

}
#visualiserKeyboard .visualiserKeyBlack{
    
}

