body{
    margin: 0;
    padding: 0;
}
#fpsCounter{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    width:100px;
    height: 100px;

    font-size: 40px;
    top:0;
    left:0
}